

.skill-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    font-family: Georgia, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('images/bluebg.png');
    background-size: cover; /* stretches to fit screen */
    background-position: center;
    background-attachment: fixed; /* parallax effect */
    background-repeat: no-repeat;
}

header {
    background-color:  rgba(165, 220, 245, 0.635);
    padding: 3px;
    text-align: center;
    color: #000d84;
}

nav {
    text-align: center;
    background-color:  #01106b;
    padding: 10px;
    width: 100%;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

a:hover {
    color: #30bdff;
}

main {
    padding: 0%;
    margin-bottom: 50px;
}

section {
    background: linear-gradient(45deg, rgba(88, 247, 255, 0.557), rgba(198, 166, 254, 0.616));
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1px;
    border-radius: 30px;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

.profile {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    width: 20%;
}

img {
     border-radius: 50%;
     padding: 5px;
     box-shadow: 0 0 20px rgba(88, 247, 255, 0.5);
}

.motto {
    margin: 10px auto;
    margin-bottom: 30px;
    background: linear-gradient(45deg, rgb(212, 236, 255), rgb(148, 214, 255));
    width: 50%;
    text-align: center;
    padding: 10px;
    background-color: rgb(159, 210, 255);
    border: 2px solid rgb(3, 63, 95);
    border-radius: 0 30% 30% 30%;
}

.biography, .facts {
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border: 1px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

footer {
    background-color:#01106b;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #ffffff;
}

@media (max-width: 880px) {
    img {
        width: 20px;
    }
    .home-grid {
        grid-template-columns: 1fr;
    }
}

