/*FOR ALL PAGE DESIGN*/

body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/bluebg.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.space-down { /*So that the navigation and footer doesn't end up covering the main contents*/
    margin-top: 45px;
    margin-bottom: 80px; 
}

header {
    background: linear-gradient(45deg, rgba(88, 247, 255, 0.557), rgba(198, 166, 254, 0.616));
    margin: 0;
    padding: 1px;
    text-align: center;
    color: #000d84;
    width: 100%;
}

h2 {
    text-align: center;
    color: #01106b;
}

/*Responsive and Mobile-Friendly Navigation Bar. Tutorial used: https://www.w3schools.com/howto/howto_js_navbar_hide_scroll.asp*/
nav {
    z-index: 1; /*To ensure the navigation bar is on top of other content */
    position: fixed;
    transition: top 0.3s;
    top: 0; 
    width: 100%;
    background: linear-gradient(180deg,  rgb(27, 82, 146), #01106b);
}

nav ul {
  overflow: hidden; /*So that the list items stay within the navigation bar */
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

nav a.left { /*Portfolio. on the left*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 600px 0 30px;
    text-decoration: none;
    font-weight: bold;
}

nav a.right{ /*Home, Skills, Lessons, Contact Me on the right*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a.right:hover {
    background-color: #141a8e;
    color: #30bdff;
}

ul li a.active { /*So user knows which page they are on*/
  background-color: #877eff;
}

.dark-button {
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  background: linear-gradient(180deg, #01106b, rgb(42, 103, 173));
  color: white;
  margin: 10px;
  padding: 10px;
  transition: 0.3s;
}

.dark-button:hover {
 color: #30bdff;
 transform: scale(1.05);
}

section {
    background: linear-gradient(45deg, rgba(88, 247, 255, 0.557), rgba(198, 166, 254, 0.616));
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*for smooth hover transition*/
    margin: 10px auto; /*auto so contents are centered*/
    border-radius: 30px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

section:hover, .send:hover { /*send hover is in contacts page, but placed here so it's not redundant*/
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

footer {
    background: linear-gradient(180deg, #01106b, rgb(42, 103, 173));
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #ffffff;
    font-weight: bold;
}

/*For All Page Intro Animation*/
.animate {
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*For Dark Mode (Additional Feature XD)*/
.dark-body {
    background-image: url('images/blackbg.png');
}

.dark-nav-footer {
    background: linear-gradient(180deg, #000000, #434343);
}

.dark-section {
    background: linear-gradient(45deg, rgba(24, 24, 24, 0.785), rgba(80, 80, 80, 0.521));
    box-shadow: inset 0 0 10px rgba(252, 253, 255, 0.669);
    color: #ffffff;
}

.light-text {
    color: #ffffff;
}

/*FOR HOME PAGE DESIGNS*/
.img-profile {
    border-radius: 50%;
    border: 5px solid white;
}

.home-intro { /*To arrange profile picture and motto side by side*/
    display: flex;
    flex-direction: row;
} 

.profile {
    margin: 50px 10px 50px 300px;
    padding: 10px;
    border-radius: 50%; /*For section around profile pic to be round too*/
}


.motto {
    margin: 80px 20px 80px 10px;
    font-size: 20px;
    width: 35%;
    text-align: center;
    padding: 12px;
    border: 2px solid #86d5ff;
    border-radius: 30% 30% 30% 3%; /*For a bubble chat shape*/
}

.motto h5 span {
    font-size: 19px;    
    color: #253bff;
    font-weight: bold;
}

.home-grid { /*To arrange biography and facts side by side*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.biography, .facts {
    padding: 0 10px 25px 10px;
    margin: 10px auto;
    width: 80%;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.facts li {
    padding-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 17px;
}

.biography p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
}



/*FOR SKILLS PAGE DESIGN*/
.skill-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "tech soft" "hobby hobby"; /*Learned to use grid and flex on the Mimo app I used to learn HTML,CSS, and JS during suummer break*/
}

.tech {
    padding: 10px 10px 25px 10px;
    margin-top: 30px;
    width: 80%;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    grid-area: tech;
}

.soft {
    padding: 10px 10px 25px 10px;
    margin-top: 30px;
    width: 80%;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    grid-area: soft;
}

.soft-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.soft-content span {
    font-size: 30px;    
    background: linear-gradient(45deg, rgb(70, 224, 255), #8286ff, rgb(46, 133, 255));
    -webkit-background-clip: text; /*got this webkit and bg clip online, so that the star emojis can change colors to match my color theme*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hobby {
    padding: 10px 10px 25px 10px;
    margin: 5px auto;
    width: 70%;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    grid-area: hobby;
}

.hobby li {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/*For Bar and Bar Animations in Tech Skills. Tutorial I used: https://foolishdeveloper.com/animated-skills-bar-html-css-for-beginners/*/

.details { /*contains the words like HTML and percentage numbers*/
    width: 95%;
    display: flex;  
    justify-content: space-between;
    margin: 10px;
    font-weight: bold;
}

/*Bar Designs*/

.bar{
    position: relative;
    border: solid 2px #01106b;
    border-radius: 20px;
    margin: 10px 20px 20px 20px;
}

.bar div{
    position: relative;
    width: 0;
    height: 7px;
    border-radius: 10px;
    padding: 7px;
    background: linear-gradient(45deg, rgba(101, 229, 255, 0.881), #a9acffe1, rgb(86, 156, 255));
}

/*Bar Animations*/

#html-bar{
    animation: html-fill 3s forwards;
}

@keyframes html-fill{
    100%{
        width: 81%;
    }
}

#css-bar{
    animation: css-fill 3s forwards;
}

@keyframes css-fill{
    100%{
        width: 77%;
    }
}

#js-bar{
    animation: js-fill 3s forwards;
}

@keyframes js-fill{
    100%{
        width: 58%;
    }
}

#cpp-bar{
    animation: cpp-fill 3s forwards;
}

@keyframes cpp-fill{
    100%{
        width: 63%;
    }
}


#digital-bar{
    animation: digital-fill 3s forwards;
}

@keyframes digital-fill{
    100%{
        width: 78%;
    }
}

#video-bar{
    animation: video-fill 3s forwards;
}

@keyframes video-fill{
    100%{
        width: 57%;
    }
}

#writing-bar{
    animation: writing-fill 3s forwards;
}

@keyframes writing-fill{
    100%{
        width: 68%;
    }
}


/*FOR LESSON GALLERY PAGE*/
.lessons { /*Is like the title header for each lessons*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 10px;
    width: 50%;
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px auto;
}

.lessons:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.layout { /*Layout for each lesson parts*/
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 30px 20px 30px auto;
    margin: 40px 30px 100px 30px auto;
    border-radius: 30px;
    border: 2px solid #01106b;
}

/*For sidebar menu. Tutorial used: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  background: linear-gradient(180deg,  rgb(27, 82, 146), #01106b);
}

/* The sidebar links */
.sidebar a, .source { /*puuting source here too para design consistency and hindi redundant*/
  padding: 8px 15px 8px 30px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover, .source:hover {
  color: #02ddff;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 30px;
  margin-left: 100px;
}

/* The button used to open the sidebar */
.openbtn {
  z-index: 2;
  position: sticky;
  top: 10px;
  left: 1250px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  background: linear-gradient(180deg, #01106b, rgb(42, 103, 173));
  color: white;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
}

.openbtn:hover, .send:hover {
 color: #30bdff;
 transition: 0.5s;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 10px;
}


/*Dropdown Menu inside Sidebar. Tutorial used: https://www.w3schools.com/howto/howto_css_dropdown.asp*/
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(180deg,  #01106b, rgb(27, 82, 146));
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #01106b;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/*FOR CONTACT ME PAGE DESIGN*/
.contacts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 25px 10px;
    margin: 5px auto;
    width: 70%;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 25px 10px;
    margin: 5px auto;
    width: 70%;
    border: 2px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

input, textarea {
    background: linear-gradient(45deg, rgb(203, 239, 253), rgb(242, 249, 255) );
    border: 1px solid #ffffff;
    border-radius: 10px;
    transition: 0.3s;
    padding: 5px;
    margin: 5px auto;
    width: 100%;
}

input:hover, textarea:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.nameAlert, .emailAlert, .messageAlert {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}

.send {
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(180deg, #01106b, rgb(42, 103, 173));
  color: white;
  font-weight: bold;
  margin: 10px auto;
}

.icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    font-size: 30px;
    color: #01106b;
    transition: 0.5s;
}

.icons i:hover {
    color: #00e1ff;
    transform: scale(1.20);
}

.contact-info ul, .contact-info li {
  list-style-type: none;
  margin: 0 80px 15px 0;
  
}


/*For Mobile Screen Adjustability*/
@media (max-width: 880px) {

    .space-down {
        margin-top: 170px;
        margin-bottom: 80px; 
    }

    .home-intro {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-profile {
        width: 150px;
        height: 150px;
    }

    .facts li, .hobby li {
        margin-left: 2px;
    }

    .profile, .motto {
        margin: 20px;
        width: fit-content;
    }

    .home-grid {
        grid-template-columns: 1fr;
    }

    nav a.left, nav a.right {
        font-size: 15px;
        padding: 8px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .skill-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "tech" 
            "soft" 
            "hobby";
    }

    .layout {
        margin: 20px 5px 80px 5px;
        padding: 5px;
    }

    .sidebar {
        padding-top: 15px;
    }

    .sidebar .closebtn {
        top: 0;
        right: 0x;
    }

    .sidebar a, .source {
        font-size: 13px;
    }

    .contacts-grid {
        grid-template-columns: 1fr;
    }
}




